.carousel-popular-polls
  margin-bottom 40px
  .carousel-indicators
    bottom: -30px
    li
      background-color color-primary-0
      border none
    .active
      background-color color-secondary-2-0
  .carousel-control
    display none
  .list-group
    height 180px
    overflow-y auto
.canvas-container
  width  210px
  height 210px
  margin 0 auto
.popular-poll-item
  height 240px
  .list-group-item
    color black
    display flex
    span
      flex-grow 100
    .votes
      flex-grow 1
    button
      flex-grow 1
