div.carousel-popular-polls(ng-controller='popularPollsCtrl')
  h3 Top Polls
  div(style="min-height: 300px")
    carousel(interval="5000")
      slide(ng-repeat="poll in polls")
        .popular-poll-item
          h4 {{ poll.title }}
          ul.list-group(ng-show='!poll.voted')
            li.list-group-item(ng-repeat='option in poll.options')
              span {{option.text}}
              button.btn.btn-primary.btn-xs(type=button, ng-click='vote(poll,option)') Vote!
          .canvas-container(ng-show='poll.voted')
            canvas.chart.chart-doughnut(chart-data='poll.data', chart-labels='poll.labels', chart-legend='poll.title', chart-options='chartOpts')
            a.facebookShare(facebook-feed-share, data-url='http://bava.herokuapp.com/poll/{{ poll._id}}' data-shares='shares', data-description="{{ poll.title }}")


