.carousel-popular-polls
  .carousel-indicators
    bottom: -20px;
    li
      background-color color-primary-0
      border none
    .active
      background-color color-secondary-2-0
  .carousel-control
    display none
  .list-group
    height 180px
    overflow-y auto
  h3
    margin 0
    padding 10px
    background color-secondary-2-3
    text-align center
    color white
.popular-poll-item
  h4
    background color-primary-0
    color white
    min-height 50px
    padding 10px
    margin 0
  .list-group-item
    color black
    display flex
    span
      flex-grow 100
    .votes
      flex-grow 1
      background color-secondary-1-2
    button,
      flex-grow 1
