div(ng-include='"components/navbar/navbar.html"')

banner

.container
  .row
    .col-lg-12.polls
      .col-lg-4
      .col-lg-4
        #poll
          h2 {{poll.title}}
          ul.list-group.list-options(ng-show='!poll.voted')
            li.list-group-item(ng-repeat='option in poll.options')
              span.text {{option.text}}
              button.btn.btn-primary(ng-click='vote(poll,option)') Vote!
          .canvas-container(ng-show='poll.voted')
            canvas.chart.chart-doughnut(chart-data='poll.data', chart-labels='poll.labels', chart-legend='poll.title', chart-options='chartOpts')
          a.facebookShare(facebook-feed-share, data-url='http://bava.herokuapp.com/poll/' + '{{poll._id}}', data-shares='shares', data-description="{{ poll.title }}")
      .col-lg-4

footer.footer
  .container
    br
    p
      FreeCodeCamp Basejump Voting App
      = ' | '
      a(href='https://github.com/JordiCruells/bava') JordiCruells/bava
    br
