div#last-polls(ng-controller='lastPollsCtrl')
  h3 More Polls
  .list-group
    a.list-group-item(href='#',ng-href='/poll/{{poll._id}}',ng-repeat='poll in polls') {{ poll.title }}
  .text-center.btn-polls
    .btn-group
      button.btn.btn-default.btn-xs(ng-click='loadPrevious()', ng-disabled='page === 0') Previous
      button.btn.btn-default.btn-xs(ng-click='loadNext()', ng-disabled='polls.length < limit') Next
